apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - name: tomcat
        image: ioannisrzk/bookstore-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        # --- DATABASE CONFIG ---
        - name: DB_URL
          value: "jdbc:postgresql://database:5432/bookstore"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "password123"
        
        # --- EMAIL CONFIG (MailHog) ---
        - name: SMTP_HOST
          value: "mailhog"
        - name: SMTP_PORT
          value: "1025"
