apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat
spec:
  replicas: 2 # Scale to 2 instances
  selector:
    matchLabels:
      app: bookstore
  template:
    metadata:
      labels:
        app: bookstore
    spec:
      containers:
      - name: tomcat-app
        image: ioannisrzk/bookstore-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DB_URL
          value: "jdbc:postgresql://postgres-service:5432/bookstore"
        - name: DB_USER
          value: "admin"
        - name: DB_PASS
          value: "password123"
---
apiVersion: v1
kind: Service
metadata:
  name: tomcat-service
spec:
  type: NodePort
  selector:
    app: bookstore
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30001
